
  <div class="card bg-dark mb-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title text-white text-center">Jordan</h5>
    <h6 class="card-subtitle mb-2 text-muted text-center">Manager</h6>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">ID: 34</li>
      <li class="list-group-item">
        Email: <a href="#" class="card-link">jordan@ass.com</a>
      </li>
      <li class="list-group-item">
        Office Number: 365
      </li>
    </ul>
  </div>
</div>


  <div class="card bg-dark mb-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title text-white text-center">JOrdan</h5>
    <h6 class="card-subtitle mb-2 text-muted text-center">Manager</h6>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">ID: sfd</li>
      <li class="list-group-item">
        Email: <a href="#" class="card-link">gadf</a>
      </li>
      <li class="list-group-item">
        Office Number: edfsd
      </li>
    </ul>
  </div>
</div>

